<?xml version="1.0" encoding="utf-8"?>
<!-- xbRefman config.xml since v0.1.0 11th February 2022 v0.7.7.2 5th April 2022 -->

<!-- 
Tags to use as references (parents & children) - from Button plugin
Link tags to use as references (parents and children) - from Button plugin

 -->
 <config>
<!-- GENERAL TAB -->				
	<fieldset name="general"
		label="XBREFMAN_FSET_GENERAL_DESC"
	>
		<field name="show_cats" type="radio"
			label="XBREFMAN_SHOW_CATS_LABEL"
			description="XBREFMAN_SHOW_CAT_TAG_DESC"
			class="btn-group btn-group-yesno"
			>
				<option value="0" >JHIDE</option>
				<option value="1">JSHOW</option>
		</field>	
 		<field name="show_tags" type="radio"
			label="XBREFMAN_SHOW_TAGS_LABEL"
			description="XBREFMAN_SHOW_CAT_TAG_DESC"
			class="btn-group btn-group-yesno"
			>
				<option value="0" >JHIDE</option>
				<option value="1">JSHOW</option>
		</field>	
 		<field name="search_bar" type="radio"
			label="XBREFMAN_SHOW_SEARCH_LBL"
			description="XBREFMAN_SHOW_SEARCH_DESC"
			class="btn-group btn-group-yesno btn-small"
		>
			<option value="0" >JHIDE</option>
			<option value="1">JSHOW</option>
		</field>	
		<field name="auto_close_dets" type="radio"
			label="XBREFMAN_AUTOCLOSE_LABEL"
			description=""
			class="btn-group btn-group-yesno btn-small"
			default="1"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>
	
		<field name="cssnote" type="note"
			label="XBREFMAN_NOTE_BLANK_CSS_LABEL"
			description="XBREFMAN_NOTE_BLANK_CSS_DESC"
		/>
		<field name="blank_icon" type="radio"
			label="XBREFMAN_SHOW_BLANK_LABEL"
			description="XBREFMAN_SHOW_BLANK_DESC"
			class="btn-group btn-group-yesno btn-small"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>

 	</fieldset>
	<fieldset name="beer"
		label="Beer"
	>
	  	<field name="beernote" type="note"
			label="XBREFMAN_BEER_NOTE_LABEL"
			description="XBREFMAN_BEER_NOTE_DESC"
		/>	
		<field name="xbref_beer" type="text"
			label="XBREFMAN_XBREF_BEER_LABEL" description="XBREFMAN_XBREF_BEER_DESC"
			default=""
		/>	
		
 	</fieldset>
 </config>